<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/donator</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="connection.foreign_keys">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

       <mapping resource="Donator.hbm.xml"/>
        <mapping resource="Programari.hbm.xml"/>
        <mapping resource="Personal.hbm.xml"/>
        <mapping resource="Chestionar.hbm.xml"/>
        <mapping resource="DateSange.hbm.xml"/>
        <mapping resource="Observatii.hbm.xml"/>
        <mapping resource="Centru.hbm.xml"/>
        <mapping resource="Observatii.hbm.xml"/>
        <mapping resource="DateSangeCentre.hbm.xml"/>
    </session-factory>
</hibernate-configuration>